/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@import "../node_modules/inter-ui/inter.css";
@import "@fontsource/manrope";
@import "@fontsource/jetbrains-mono";
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import url(./styles/prism-night-owl.css);
// @import url(./styles/prism-atom-dark.css);
// @import url(./styles/prism-synthwave84.css);


* {
    font-family: "Inter", sans-serif;
    color: $default-font-color;
    text-decoration: none;
}

/* Default link styles */
a, a > * {
    color: white; 
    text-decoration: none; 
    transition: color 0.2s; 
}

blockquote {
    border-left: 4px solid var(--surface-1-light);
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    background-color: var(--surface-2-dark);
    color: var(--text-1);
}

/* h1 larger than h2 */
h1 {
    font-size: 2rem;
    margin: 1rem 0;
}

a {
    color: lightblue;
}

/* Hover styles */
a:hover, a:hover > * {
    color: #0056b3; 
}

figure > img{
  transition: .2s;
}
figure > img:hover{
  transform: scale(1.5);
}

body {
    margin: 0;
}

html {
    /* font */
    --font-sans: "Manrope", sans-serif;
    --font-mono: "JetBrains Mono", monospace;

    /* dark */
    --brand-dark: var(--orange-3);
    --text-1-dark: var(--gray-3);
    --text-2-dark: var(--gray-5);
    --surface-1-dark: var(--gray-12);
    --surface-2-dark: var(--gray-11);
    --surface-3-dark: var(--gray-10);
    --surface-4-dark: var(--gray-9);
    --background-dark: var(--gradient-8);
    --border-dark: var(--gray-9);

    /* light */
    --brand-light: var(--orange-10);
    --text-1-light: var(--gray-8);
    --text-2-light: var(--gray-7);
    --surface-1-light: var(--gray-0);
    --surface-2-light: var(--gray-1);
    --surface-3-light: var(--gray-2);
    --surface-4-light: var(--gray-3);
    --background-light: none;
    --border-light: var(--gray-4);
}

:root {
    color-scheme: dark;

    --brand: var(--brand-dark);
    --text-1: var(--text-1-dark);
    --text-2: var(--text-2-dark);
    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dark);
    --surface-3: var(--surface-3-dark);
    --surface-4: var(--surface-4-dark);
    --background: var(--background-dark);
    --border: var(--border-dark);
}

// @media (prefers-color-scheme: light) {
//     :root {
//         color-scheme: light;

//         --brand: var(--brand-light);
//         --text-1: var(--text-1-light);
//         --text-2: var(--text-2-light);
//         --surface-1: var(--surface-1-light);
//         --surface-2: var(--surface-2-light);
//         --surface-3: var(--surface-3-light);
//         --surface-4: var(--surface-4-light);
//         --background: var(--background-light);
//         --border: var(--border-light);
//     }
// }

[color-scheme="dark"] {
    color-scheme: dark;

    --brand: var(--brand-dark);
    --text-1: var(--text-1-dark);
    --text-2: var(--text-2-dark);
    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dark);
    --surface-3: var(--surface-3-dark);
    --surface-4: var(--surface-4-dark);
    --background: var(--background-dark);
    --border: var(--border-dark);
}

[color-scheme="light"] {
    color-scheme: light;

    --brand: var(--brand-light);
    --text-1: var(--text-1-light);
    --text-2: var(--text-2-light);
    --surface-1: var(--surface-1-light);
    --surface-2: var(--surface-2-light);
    --surface-3: var(--surface-3-light);
    --surface-4: var(--surface-4-light);
    --background: var(--background-light);
    --border: var(--border-light);
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

@media (max-width: 750px) {
    html,
    body {
        width: auto;
    }
}

html {
    color: var(--text-1);
    accent-color: var(--link);
    background-image: var(--background);
    background-attachment: fixed;
}

img {
    border-radius: var(--radius-3);
}

ul.list-style,
ol.list-style {
    list-style: var(--text-1);
    padding: 0 0 0 1rem; 
}

hr {
    border: 0;
    border-top: 1px solid var(--border);
    margin: 1rem 0;
}

li {
    min-height: 24px;
    padding-inline-start: 0;
}

ul, ol {
    list-style: none;
    padding: 0;
}

.surface-1 {
    background-color: var(--surface-1);
    color: var(--text-2);
}

.surface-2 {
    background-color: var(--surface-2);
    color: var(--text-2);
}

.surface-3 {
    background-color: var(--surface-3);
    color: var(--text-1);
}

.surface-4 {
    background-color: var(--surface-4);
    color: var(--text-1);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    text-align: left;
}

th, td {
    padding: 0.5rem;
    border-bottom: 1px solid var(--border);
}

th:first-child, td:first-child {
    padding-left: 0;
}

th:last-child, td:last-child {
    padding-right: 0;
}

th:only-child, td:only-child {
    padding: 0;
}

th {
    color: var(--text-2);
}

td {
    color: var(--text-1);
}
